COHERE_API_KEY="TRJfVieYqjnwCcexKPzbXd7XQN5M2d4LF6uJTtLa"
QDRANT_URL="https://<waiting-for-cluster-host>:6333"
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.7nzy5dYFFE9LPL_lNdCfB_6VAuOiHu0U2tAqxrz3hOU"
BOOK_BASE_URL="https://ai-nativebook-three.vercel.app/"