COHERE_API_KEY="TRJfVieYqjnwCcexKPzbXd7XQN5M2d4LF6uJTtLa"
QDRANT_URL="https://<waiting-for-cluster-host>:6333"
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.7nzy5dYFFE9LPL_lNdCfB_6VAuOiHu0U2tAqxrz3hOU"
BOOK_BASE_URL="https://ai-nativebook-three.vercel.app/"
Openrouter_api_key="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"
OPENAI_API_KEY="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"