COHERE_API_KEY="<YOUR_COHERE_API_KEY>"
QDRANT_URL="<YOUR_QDRANT_URL>"
QDRANT_API_KEY="<YOUR_QDRANT_API_KEY>"
BOOK_BASE_URL="https://ai-nativebook-three.vercel.app/"
OPENAI_API_KEY="<YOUR_OPEN_Ai API_KEY>"